html,body{
    height: 100%;
    width: 100%;
}
#mymapid{
    height:500px;
}
.scrolling-wrapper{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: fit-content;
    padding: 5px;
}
.scrolling-wrapper .row{
    display: block;
}
.card{
    /* height: 200px; */
    display: inline-block;
    float: none;
    padding: 15px;
    white-space: normal;
}

.card-body{
    text-overflow: ellipsis;
}

.shorten{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
   height: 2em;
   line-height: 1em;
}
.place-list{
    transition: all .2s ease-in-out;
    margin: 10px;
  }
  
  .place-list:hover{
    transform: scale(1.1);
  }